html,body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.panel-primary {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background:#eee;
  border-right: 5px solid #eee;
}

.panel-heading{
  border-bottom: 0;
  padding: 10px 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #eee;
}

ul {
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
  background-color: #ffffff;
  margin-bottom: 3px;
  width: 100%;
  padding: 5px 10px 5px 10px;
  float: left;
  cursor: pointer;
  font-size: 17px;
}

li:hover{
  background-color: #2196f3;
  color: #fff;
  transition: 0.15s;
}

.active{
  background-color: #28a745;
  color: #ffffff;
}

.active:hover{
  background-color: #28a745;
}

li span {
  float:left;
  width: 100%;
  font-size: 12px;
}

#Container {
  padding-left: 205px;
}

#circleContainer {
  float: left;
  width:240px;
  height: 240px;
  margin: 0px 25px;
}

#timerContainer{
  margin-left: calc(50% - 295px);
  margin-top: 25px;
  float: left;
}

.c100 > span{
  color:#307bbb;
}

.buttonPosition{
  font-size: 20px;
  padding: 2px 8px;
  text-transform: uppercase;
  float: left;
  width: 150px;
  height: 36px;
  margin-top: 114px;
}

#switch {
  font-size: 22px;
  width: 120px;
  text-transform: uppercase;
  margin-left: calc(50% - 60px);
  margin-top: 25px;
}

h1{
  text-align: center;
  padding-top: 5px;
  font-size: 33px;
}